@charset "UTF-8";
@import "style.css";

/* PROFILO */

.profilo-container {
	max-width: 1000px;
	margin: 40px auto;
	padding: 0 20px;
}

.profilo-grid {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 30px;
	margin-top: 20px;
}

/* ALERT E NOTIFICHE */

.alert-successo, .alert-errore {
	padding: 15px;
	margin-bottom: 25px;
	border-radius: 6px;
	font-weight: 600;
	text-align: center;
}

.alert-successo {
	background-color: #16a34a1a; /* verde chiaro */
	color: var(--successo);
	border: 1px solid var(--successo);
}

.alert-errore {
	background-color: #dc26261a; /* rosso chiaro */
	color: var(--errore);
	border: 1px solid var(--errore);
}

/* CARD */

.card-profilo { 
	background: #f9f9f9;
	padding: 20px;
	border-radius: 8px;
	border: 1px solid #ddd;
}

.card-profilo h2 {
	margin-bottom: 15px;
	font-size: 1.5rem;
	border-bottom: 2px solid #e74c3c;
	padding-bottom: 10px
}

.info-riga {
	margin-bottom: 10px;
	font-size: 1.1rem;
}

/* METODI DI PAGAMENTO */

.card-profilo ul {
	list-style-type: none;
	padding: 0;
	margin: 0 0 25px 0;
}

.card-profilo ul li {
	background-color: var(--sfondo-p);
    border: 1px solid #E2E8F0;
    padding: 12px 15px;
    border-radius: 6px;
    margin-bottom: 10px;
    font-size: 1rem;
    color: var(--testo-p);
}

.card-profilo ul li span {
    font-size: 0.85rem;
    color: var(--testo-s);
}

/* FORM DI AGGIUNTA METODO DI PAGAMENTO */

#form-carta {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#form-carta label {
    font-weight: 600;
    font-size: 0.95rem;
    color: var(--testo-p);
}

#form-carta input[type="text"],
#form-carta input[type="date"] {
    padding: 10px;
    border: 1px solid #E2E8F0;
    border-radius: 4px;
    font-size: 1rem;
    color: var(--testo-p);
    transition: all 0.2s ease;
    background-color: #FFFFFF;
}

#form-carta input[type="text"]:focus,
#form-carta input[type="date"]:focus {
    border-color: var(--colore-primario);
    outline: none;
    box-shadow: 0 0 0 3px rgba(200, 16, 46, 0.1);
}

/* GESTIONE ERRORE LUHN */

#errore-luhn {
	display: none; 
	color: var(--errore);
	font-size: 0.85rem;
    font-weight: 600;
	margin-top: -5px;
}

#errore-luhn.mostra-errore {
    display: block;
}

/* TABELLA ORDINI */

.ordini-table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 15px;
}

.ordini-table th, .ordini-table td {
	padding: 12px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

.ordini-table th {
	background-color: #2c3e50;
	color: white;
}
   
/* BOTTONI E LINK */

.vai-catalogo {
	text-decoration: underline;
}    

.ordine-completato {
	background-color: #2ecc71;
	color: white;
	padding: 15px;
	margin-bottom: 20px;
	border-radius: 5px;
	text-align: center;
	font-weight: bold;
}

/* MEDIA QUERY PER MOBILE */

@media (max-width: 768px) {
	.profilo-grid { 
		grid-template-columns: 1fr;
		}
		
	.ordini-table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}