@charset "UTF-8";
@import "style.css";

.search-container {
    position: relative;
    max-width: 400px;
    min-width: 200px;
    margin: 0 30px;
    flex: 1;
}

.search-input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid var(--testo-s);
    border-radius: 4px;
    font-size: 0.95rem;
    background-color: var(--sfondo-p);
    color: var(--testo-p);
    outline: none;
    transition: all 0.2s ease;
    box-sizing: border-box;
}

.search-input:focus {
    box-shadow: 0 0 0 2px rgba(200, 16, 46, 0.2);
    border-color: var(--colore-primario);
}

.resultBox {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid var(--testo-s);
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
    z-index: 1000;
    max-height: 300px;
    overflow-y: auto;
}

.suggestion-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    text-decoration: none;
    border-bottom: 1px solid #F1F5F9;
    transition: background-color 0.2s;
    gap: 15px;
}


.suggestion-item:last-child {
    border-bottom: none;
}


.suggestion-img {
    width: 45px;
    height: 45px;
    object-fit: contain;
    background-color: var(--sfondo-p);
    border: 1px solid #E2E8F0;
    border-radius: 4px;
    padding: 2px;
}

.suggestion-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.suggestion-title {
    font-size: 0.95rem;
    font-weight: 600;
    color: var(--testo-p);
    transition: color 0.2s ease;
}

.suggestion-code {
    font-size: 0.75rem;
    color: var(--testo-s);
    margin-top: 3px;
}

.suggestion-item:hover {
    background-color: var(--sfondo-p);
}

.suggestion-item:hover .suggestion-title {
    color: var(--colore-primario);
}


.no-result {
    padding: 15px;
    color: var(--testo-s);
    font-style: italic;
    font-size: 0.9rem;
    text-align: center;
}
